@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Poppins';
  padding: 0;
  margin: 0;
}
.container{
  background: rgb(57, 57, 57);
  min-height: 100vh;
  width: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container div{
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 20px;
}
.boxb{
  background-color: blue;
}
.boxr{
  background-color: red;
}
.boxg{
  background-color: green;
}
.boxo{
  background-color: orange;
}
.boxy{
  background-color: yellow;
}
.boxp{
  background-color: purple;
}
.hidden{
  opacity: 0;
  filter: blur(8px);
  transition: 1.25s ease;
}
.hidden:nth-child(even){
  transform: translateX(-100%);
}
.hidden:nth-child(odd){
  transform: translateX(100%);
}
.show{
  opacity: 1;
  filter: blur(0);
}
.show:nth-child(odd){
  transform: translateX(0);
}
.show:nth-child(even){
  transform: translateX(0);
}
@media (max-width:480px) {
  .container div{
    width: 200px;
    height: 150px;
  }
}